THE_ODDS_API_KEY=ide_ird_a_kulcsot
FOOTBALL_DATA_TOKEN=ide_ird_a_kulcsot
API_FOOTBALL_KEY=ide_ird_a_kulcsot
SPORTRADAR_API_KEY=ide_ird_a_kulcsot
SPORTRADAR_API_BASE=https://api.sportradar.com/soccer/trial/v4/en
SPORTRADAR_PROB_API_BASE=https://api.sportradar.com/soccer-probabilities/trial/v4/en
SOCCER_DB_URL=sqlite:///soccer.db
SOCCER_LOG_LEVEL=INFO
STATS_PROVIDER=api_football
STATS_PROVIDER_FALLBACK=sportradar
ODDS_PROVIDER=the_odds_api
CACHE_DIR=data/cache
TIMEZONE=Europe/Budapest
BACKTEST_MODE=0
RAPIDAPI_KEY=ide_ird_a_kulcsot
RAPIDAPI_HOST=therundown-therundown-v1.p.rapidapi.com
THERUNDOWN_BASE_URL=https://therundown-therundown-v1.p.rapidapi.com
THERUNDOWN_SPORT_ID_SOCCER=10,11,12,13,14,15,17
